/* Classes are sorted in alphabetical order for convinience. */

* 
{
    box-sizing: border-box;
        font-family: 'Arial Black', Tahoma, Verdana, sans-serif;
}

.add-button
{
    background-color: rgb(187, 187, 187);
    font-size: 13px;
    padding: 5px;
    box-shadow: 3px 3px;
    margin-right: 40px;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 200px;
    margin-right: 50px;
}

.add-button:hover
{
    cursor: pointer;
    transform: scale(1.1);
}


.bin
{
    float: right;
    margin-right: 5px;
    margin-top: 7px;
    background-color: #50BB3D;
    outline: none;
    border: none;
}

.bin-icon:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

body 
{
    margin: 0;
    background-color: #50BB3D;
    overflow-x: hidden;
    overflow-y: hidden;
}

.button-style 
{
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: rgb(199, 196, 196);
}

.button-style:hover 
{
    cursor: pointer;
    background-color: #bfcFeb;
}

.center 
{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    width: 300px;
}

.content 
{
    background-color: rgb(246, 241, 241);
    color: black;
    width: 340px;
    padding: 10px;
    outline: none;
    resize: none;
    text-wrap: wrap;
    box-shadow: 3px 3px;
    border: black solid 2px;
    margin-left: 10px;
    flex: 1;
}

.description
{
    display: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 9px;
    border: black solid 1px;
    padding: 2px;
    margin: 5px;
    background-color: rgb(246, 241, 241);
    box-shadow: 2px 2px;
    font-weight: bold;
}

footer
{

    margin-top: 7px;
    margin-left: 325px;
}

.heading 
{
    font-size: 23px;
    background-color: rgb(246, 241, 241);
    border: none;
    outline: none;
    text-align: center;
    width: 205px;
    text-overflow: ellipsis;
    border: black 2px solid;
    box-shadow: 3px 3px;
}

.instructions
{
    cursor:default; 
    box-shadow: 2px 2px; 
    border: solid 2px; 
    background-color: rgb(255, 255, 255); 
    padding-left: 5px; 
    padding-right: 5px; 
    margin-bottom: 20px; 
    font-size: 12px;
}

.list-end 
{
    list-style-type: none;
}

.main-menu
{
    margin-top: 10px;
    width: 280px;
    scrollbar-gutter:unset;
    margin-left: 35px;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.main-notepad 
{   
    margin: auto;
    margin-top: 50px;
    width: 360px;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    height: calc(100vh - 200px);
}

.menu
{
    margin-left: 10px;
    margin-top: 11px;
    outline: none;
    border: none;
    background-color: #50BB3D;
}

.menu:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.menu-back
{
    margin-left: 10px;
    margin-top: 11px;
    outline: none;
    border: none;
    background-color: transparent;
}

.menu-back:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.my-notes
{
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
}

.notes
{   
    list-style-type: none;
    overflow: auto !important;
    scrollbar-color: black;
    padding: 0;
    padding-bottom: 5px;
}

.note-button
{
    font-size: 12px;
    padding: 5px;
    overflow-wrap: break-word;
    vertical-align: top;
    background-color: #50BB3D;
    box-shadow: 3px 3px;
    margin-right: 40px;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 85px;
    height: 85px;
    margin-right: 50px;
    scroll-margin-bottom: 20px;
}

.note-button:hover
{
    cursor: pointer;
    transform: translateY(-10px);
}

.options-bar
{
    background-color:rgb(199, 196, 196);
    padding: 5px; 
    width: 340px;
    margin-left: 10px;
    border: black solid 2px;
    border-bottom: none;
}

.popup 
{   
    display: none;
    background-color: #EFEFEF;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.popup .center
{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);
}

.popup-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

}

.sign-in
{
    text-align: center;
    width: 300px;
    padding-top: 20px;
    margin: auto;
}

.theme-options 
{
    float:right;
}

.version
{
    font-size: 12px; 
    cursor:default; 
    float: right;
    margin-right: 7px;
    font-weight: 100;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #bbbbbb;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}